<div id="wb-foot">
  <div id="wb-foot-in">
    <footer><h2 id="wb-nav">Footer</h2>
      <!-- FooterStart -->
      <nav role="navigation">
        <div id="canfar-sft"><h3>Site footer</h3>

          <div id="canfar-sft-in">
            <section>
              <div class="span-2">
                <h4 class="canfar-col-head">About</h4>
                <ul>
                  <li><a rel="external" href="/about">CANFAR Project</a></li>
                  <li><a rel="external" href="/docs/home">Help</a></li>
                </ul>
              </div>
            </section>
            <section>
              <div class="span-2"></div>
            </section>
            <section>
              <div class="span-2"></div>
            </section>
            <section>
              <div class="span-2">
                <h4 class="canfar-col-head">Contact</h4>
                <ul>
                  <li><a rel="external" href="https://github.com/canfar">CANFAR on GitHub</a></li>
                  <li><a href="mailto:canfar@uvic.ca">E-mail</a></li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </nav>

      <!-- FooterEnd -->
    </footer>
  </div>
</div>
