<dl id="canfar-date-mod" role="contentinfo">
  <dt>Date modified:</dt>
  <dd><span><time>$LastChangedDate$</time></span></dd>
</dl>
<div class="clear"></div>
<!-- MainContentEnd -->

<!--GoogleAnalyticsStarts-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30780032-1']);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!--GoogleAnalyticsEnds-->
<script type="text/javascript">
  function handle_tbs_class()
  {
    var $node = $('ul > li > ul > li > ul > li a.nav-current').parent().parent().parent().children();
    $node.css("border-top", "0");
    $node.css("border-right", "0");
    $node.css("border-bottom", "0");
    $node.css("border-left", "0");
    $node.css("color", "#333333");
  }

  $(document).ready(function()
                    {
                      handle_tbs_class();
                    });
</script>
       
      </div>
    </div>
  </div>
</div>





<div id="wb-foot">
  <div id="wb-foot-in">
    <footer><h2 id="wb-nav">Footer</h2>
      <!-- FooterStart -->
      <nav role="navigation">
        <div id="canfar-sft"><h3>Site footer</h3>

          <div id="canfar-sft-in">
            <section>
              <div class="span-2"><h4 class="canfar-col-head">About</h4>
                <ul>
                  <li><a title="About CANFAR" href="/docs/about/">About the CANFAR Project</a></li>
                  <li><a title="University of Victoria" rel="external" href="http://www.phys.uvic.ca">University of Victoria</a></li>
                  <li><a title="University of British Columbia" rel="external" href="http://www.phas.ubc.ca">University of British Columbia</a></li>
                  <li><a title="Canadian Astronomy Data Centre<br />Centre Canadienne de Donn&eacute;e Astonimique" rel="external" href="http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca">Canadian Astronomy Data Centre (CADC)</a></li>
                  <li><a title="Canada's Advanced Research and Innovation Network" rel="external" href="http://www.canarie.ca">CANARIE</a></li>
                  <li><a title="Compute / Calcul Canada" rel="external" href="http://www.computecanada.ca">Compute Canada</a></li>
                  <li><a title="NRC / CNRC" rel="external" href="http://www.nrc-cnrc.gc.ca/">National Research Council of Canada (NRC)</a></li>
                  <li><a title="CSA / ASC" rel="external" href="http://www.asc-csa.gc.ca/">Canadian Space Agency (CSA)</a></li>
                </ul>
              </div>
            </section>
            <section>
              <div class="span-2">
                <h4 class="canfar-col-head">Contact us</h4>
                <ul>
                  <li><a rel="external" href="http://www.canarie.ca/en/contact">Questions or comments?</a></li>
                </ul>
              </div>
            </section>
            <section>
              <div class="span-2"><h4 class="canfar-col-head">News</h4>
                <ul>
                  <li><a rel="external" class="wb-icon-none" href="http://www.canarie.ca/templates/programs/network/pdf/CANFAR.pdf">Success Story</a></li>
                </ul>
              </div>
            </section>
            <section>
              <div class="span-2"><h4 class="canfar-col-head">Stay connected</h4>
                <ul>
                  <li><a rel="external" href="http://www.youtube.com/user/canarienetwork">YouTube</a></li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </nav>

      <!-- FooterEnd -->
    </footer>
  </div>
</div>
</div>

<!-- ScriptsStart -->
<script src="/wet/javascript/settings.js"></script>
<!--[if lte IE 8]>
<script src="/wet/theme-canfar/js/theme-ie-min.js"></script>
<script src="/wet/javascript/pe-ap-ie-min.js"></script>
<script src="/wet/javascript/jquerymobile/jquery.mobile-ie.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="/wet/theme-canfar/js/theme-min.js"></script>
<script src="/wet/javascript/pe-ap-min.js"></script>
<script src="/wet/javascript/jquerymobile/jquery.mobile.min.js"></script>
<!--<![endif]-->
<!-- ScriptsEnd -->

<!-- CustomScriptsStart -->

<!-- CustomScriptsEnd -->
</body>
</html>
