<!DOCTYPE html>
<!--[if IE 7]>
<html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js" data-role="canfar">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
    wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>CANFAR Main</title>

    <meta name="description"
          content="A theme template to aid in the creation of new themes."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lte IE 8]>
    <link rel="shortcut icon" href="/wet/theme-canfar/images/favicon.ico"/>
    <script src="/wet/javascript/jquery-ie.min.js"></script>
    <script src="/wet/javascript/polyfills/html5shiv-min.js"></script>
    <link rel="stylesheet" href="/wet/grids/css/util-ie-min.css"/>
    <link rel="stylesheet" href="/wet/theme-canfar/css/theme-ie-min.css"/>
    <noscript>
      <link rel="stylesheet" href="/wet/theme-canfar/css/theme-ns-ie-min.css"/>
    </noscript>
    <link rel="stylesheet" href="/wet/javascript/css/pe-ap-ie-min.css"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="icon" type="image/x-icon"
          href="/wet/theme-canfar/images/favicon.ico"/>
    <script src="/wet/javascript/jquery.min.js"></script>

    <!-- Internationalization libraries for compatibility -->
    <script type="text/javascript" src="/wet/javascript/jquery.i18n.js"></script>
    <script type="text/javascript" src="/wet/javascript/jquery.i18n.messagestore.js"></script>
    <script type="text/javascript" src="/wet/javascript/jquery.i18n.fallbacks.js"></script>
    <script type="text/javascript" src="/wet/javascript/jquery.i18n.parser.js"></script>
    <script type="text/javascript" src="/wet/javascript/jquery.i18n.emitter.js"></script>
    <script type="text/javascript" src="/wet/javascript/jquery.i18n.language.js"></script>

    <link rel="stylesheet" href="/wet/grids/css/util-min.css"/>
    <link rel="stylesheet" href="/wet/javascript/css/pe-ap-min.css"/>
    <link rel="stylesheet" href="/wet/theme-canfar/css/theme-min.css"/>
    <noscript>
      <link rel="stylesheet" href="/wet/theme-canfar/css/theme-ns-min.css"/>
    </noscript>
    <!--<![endif]-->

    <!-- CustomCSSStart -->
    <!-- CustomCSSEnd -->
  </head>

  <body>
    <div id="wb-body">
      <div id="wb-skip">
        <ul id="wb-tphp">
          <li id="wb-skip1"><a href="#wb-cont">Skip to main content</a></li>
          <li id="wb-skip2"><a href="#wb-nav">Skip to footer</a></li>
        </ul>
      </div>

      <div id="wb-head">
        <div id="wb-head-in">
          <header>
            <div id="canfar-bnr" role="banner">
              <div id="canfar-bnr-in">
                <div id="canfar-title">
                  <p id="canfar-title-in">
                    <a href="{{site.basepath}}/" title="Canadian Advanced Network for Astronomical Research">CANFAR
                      <small>Operational system for the delivery, processing,
                             storage, analysis, and distribution of very large
                             astronomical datasets</small>
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <nav role="navigation">
              <div id="canfar-psnb"><h2>Site menu</h2>

                <div id="canfar-psnb-in">
                  <div class="wet-boew-menubar mb-mega">
                    <div>
                      <ul class="mb-menu" data-ajax-replace="{{site.basepath}}/includes/menu-en.txt">
                        <li>
                          <section>
                            <h3><a rel="external" href="http://www.canfar.phys.uvic.ca">Portal</a></h3>
                            <div class="mb-sm">
                              <div class="span-2">
                                <ul>
                                  <li><a rel="external" href="http://www.canfar.phys.uvic.ca/vosui">VOSpace Browser</a></li>
                                  <li><a rel="external" href="http://www.canfar.phys.uvic.ca/processing">Processing</a></li>
                                  <li><a rel="external" href="http://www.canfar.phys.uvic.ca/canfar/groups">Group Management</a></li>
                                </ul>
                              </div>
                            </div>
                          </section>
                        </li>
                        <li>
                          <a href="{{site.basepath}}/docs/home">Documentation</a>
                        </li>
                        <li class="float-right">
                          <div>
                            <a class="access_control_link" rel="external" href="http://www.canfar.phys.uvic.ca/canfar/login.html">Login</a>
                            <div class="profile_modal">
                              <a class="user_edit_profile" rel="external" href="http://www.canfar.phys.uvic.ca/en/auth/update.html">Edit Profile</a>
                              <br />
                              <a class="access_control_logout" rel="external" href="http://www.canfar.phys.uvic.ca/access/logout">Logout</a>
                              <br />
                              <br />
                              <a class="access_control_logout cancel" href="#">Cancel</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div id="canfar-bc">
                <h2>Breadcrumb trail</h2>
                <div id="canfar-bc-in">
                  <ol>
                    <li><a href="{{site.basepath}}/">Home</a></li>
                  </ol>
                </div>
              </div>
            </nav>
            <!-- HeaderEnd -->
          </header>
        </div>
      </div>

      <div id="wb-core">
        <div id="wb-core-in" class="equalize">
          <div id="wb-main" role="main">
            <div id="wb-main-in">
