<dl id="canfar-date-mod" role="contentinfo">
  <dt>Date modified:</dt>
  <dd><span><time>2014-04-17</time></span></dd>
</dl>
<div class="clear"></div>
<!-- MainContentEnd -->

<!--GoogleAnalyticsStarts-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30780032-1']);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!--GoogleAnalyticsEnds-->
<script type="text/javascript">
  function handle_tbs_class()
  {
    var $node = $('ul > li > ul > li > ul > li a.nav-current').parent().parent().parent().children();
    $node.css("border-top", "0");
    $node.css("border-right", "0");
    $node.css("border-bottom", "0");
    $node.css("border-left", "0");
    $node.css("color", "#333333");
  }

  $(document).ready(function()
                    {
                      handle_tbs_class();
                    });
</script>
       
      </div>
    </div>
  </div>
</div>





<div id="wb-foot">
  <div id="wb-foot-in">
    <footer><h2 id="wb-nav">Footer</h2>
      <!-- FooterStart -->
      <nav role="navigation">
        <div id="canfar-sft"><h3>Site footer</h3>

          <div id="canfar-sft-in">
            <section>
              <div class="span-2"><h4 class="canfar-col-head"><a title="About the CANFAR Project" href="/docs/about/">About</a></h4>
              </div>
            </section>
            <section>
              <div class="span-2"><h4 class="canfar-col-head"><a href="https://github.com/canfar">CANFAR on GitHub</h4>
              </div>
            </section>
          </div>
        </div>
      </nav>

      <!-- FooterEnd -->
    </footer>
  </div>
</div>
</div>

<!-- ScriptsStart -->
<script src="/wet/javascript/settings.js"></script>
<!--[if lte IE 8]>
<script src="/wet/theme-canfar/js/theme-ie-min.js"></script>
<script src="/wet/javascript/pe-ap-ie-min.js"></script>
<script src="/wet/javascript/jquerymobile/jquery.mobile-ie.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="/wet/theme-canfar/js/theme-min.js"></script>
<script src="/wet/javascript/pe-ap-min.js"></script>
<script src="/wet/javascript/jquerymobile/jquery.mobile.min.js"></script>
<!--<![endif]-->
<!-- ScriptsEnd -->

<!-- CustomScriptsStart -->

<!-- CustomScriptsEnd -->
</body>
</html>
